#include <stdint.h>
#include <stdbool.h>
#include <stdio.h>
#include <stdlib.h>
#include <string.h>
#include "../src/kaula.h"
#include "../std/std.h"

{{code}}

int main() {
    {{main_code}}
    return 0;
}
